name: GitHub Classroom Workflow

on: [push]

permissions:
  checks: write
  actions: read
  contents: read

jobs:
  build:
    name: CacheQemu
    runs-on: ubuntu-latest
    steps:
      - name: Cache QEMU
        id: qemu
        uses: actions/cache@v3
        with:
          path: qemu-7.0.0
          key: qemu-7.0.0-x86_64-riscv64
      - name: Compile QEMU
        if: steps.qemu.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build -y
          wget https://download.qemu.org/qemu-7.0.0.tar.xz
          tar -xf qemu-7.0.0.tar.xz
          cd qemu-7.0.0
          ./configure --target-list=riscv64-softmmu
          make -j
  build:
    name: Autograding
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2022-08-08
          components: rust-src, llvm-tools-preview
          target: riscv64gc-unknown-none-elf
      - uses: actions-rs/install@v0.1
        with:
          crate: cargo-binutils
          version: latest
          use-tool-cache: true
      - name: Cache QEMU
        id: qemu
        uses: actions/cache@v3
        with:
          path: qemu-7.0.0
          key: qemu-7.0.0-x86_64-riscv64
      - name: Install QEMU
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build -y
          cd qemu-7.0.0
          sudo make install
          qemu-system-riscv64 --version
      - name: Run
        run: |
          make test5
#      - uses: education/autograding@v1
